<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<h1>Django Vue Example!</h1>
		<button @click="getMembers()">멤버들을 불러오자</button>
		<ul>
			<li v-for="member in girlsday">${member.name}: <img v-bind:src="member.image" alt=""></li>
		</ul>
	</div>

	<script>
		new Vue({
			el: '#app',
			delimiters: ['${', '}'],
			data: {
			  girlsday: []
			},
			methods: {
			  getMembers: function () {
			    const vm = this;
			    axios({
				    method: 'get',
				    url: '/api/'
			    }).then(function (response) {
			      vm.girlsday = response.data;
			    }).catch(function (response) {
			      console.log('Error!');
			    });
			  }
			}
		})
	</script>
</body>
</html>